nav {
	.pi-wallet {
		font-size: 1.5rem;
	}
	.p-button-danger {
		margin-left: 0.5rem;
	}
}

@media (max-width: 600px) {
	nav {
		padding-left: 0.5rem;
		padding-right: 0.5rem;
		.text-lg {
			font-size: 1rem;
		}
		.text-xs {
			font-size: 0.85rem;
		}
		.p-button-danger {
			margin-left: 0.25rem;
		}
	}
	.h-14 {
		height: 3.5rem;
	}
}
